div{
  height: 35px;
  display: table-cell;
}
.field {
  margin: 5px ;

  border: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.342);
  font-size: 20px;
  background-color: #1bbef470;
  color: rgba(0, 0, 0, 0.589);
  cursor: default;
}

.delete { 
  margin-left: 10px;
  margin-right: 10px;
  color: black;

}
