
.page1{
    position: absolute;
    z-index: 10;
    opacity: 1;

}
.page2{
    position: absolute;
    z-index: 0;
    opacity: 0;

}
.page3{
    position: absolute;
    z-index: 0;
    opacity: 0;

}
.navbar-special{
    background-color: #095b9e;
}
.navbar-special .navbar-brand ,.navbar-special .nav-link ,.navbar-special .navbar-toggler{
    color: white;
}
.navbar-special .nav-link:hover{
    color: #ffebdb;
}


.navbar-toggler-icon{
  background-image:   url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.logo{
    position: inherit;
    height: 32px;
}