.con {
  position: fixed;
  top: 40%;
  left: 5%;
 

}

.nav {
  position: relative;
  width: 10px;
  height: 10px;
  border: 2px;
  border-color:rgba(0, 0, 0, 0.6);;
  border-radius: 50%;
  border-style: solid;
  margin-bottom: 20px;
}

@media all and (max-width: 1024px) {
  .con {
    position: fixed;
    top: 90%;
    left: 50%;
    z-index: 10;
    transform: rotate(-90deg)
  }

  .nav {
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px;
    border-color: rgba(0, 0, 0,0.6);
    border-radius: 50%;
    border-style: solid;
    margin-bottom: 10px;
  }
}

.active {
  background-color: rgba(0, 0, 0,0.6);

}
