form {
  margin-top: 5%;
}

.firstLine>.mat-form-field {
  width: 25%;
  margin: 30px;
}

.secondLine>.mat-form-field {
  width: 20%;
  margin: 30px;
}

.thirdLine>.mat-form-field {
  width: 30%;
  margin: 30px;
  transform: translateY(-200%);
}

.large>.mat-form-field {
  width: 35%;
  margin: 30px;
}
.Field{
  position: absolute;
  width: 35%;
  height: 30%;
  display: table-row;
  right: 10%;
  top: 80%;
}

.container {
  margin: 0;
  padding: 0;
}

.image {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
  top: 0;
}

.image>img {
  position: relative;
  width: 100%;
  top: 20%;
}

#cover {
  position: absolute;
  z-index: 10;
  background-color: #1bbef496;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
}

#cover>div {
  position: relative;
  font-weight: 900;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.9);
  top: 40%;
  text-align: center;
}

#cover>button {
  position: relative;
  top: 70%;
  left: 33%;
}

.form {
  position: absolute;
  width: 70%;
  margin-left: 30px;
}

#inputImg {
  position: relative;
  width: 200px;
  margin: 10px 50px;
  background-color: #1bbef483;
}

.password>.mat-form-field {
  width: 40%;
  margin: 30px;
}

.label {
  margin: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20%;
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}

.label::-webkit-input-placeholder {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 3;
  color: rgba(0, 0, 0, 0.6);
}

.bouton {
  width: 200px;
  height: 40px;
  border: bold;
  border-color: rgba(0, 0, 0, 0.418);
  border-width: 2px;
  border-radius: 8px;
  background-color: white;
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.411);
  transform: translateY(-250%);
}

.bouton:hover {
  background-color: #1bbef4ad;
  color: rgb(255, 255, 255);
}

#status {
  width: 10%;
}

@media all and (max-width: 1000px) {
  .mobile-slide-1 {
    position: absolute;
    margin-top: 5%;
    z-index: 1;  
display: initial;
  }

  .mobile-slide-2 {
    position: absolute;
    margin-top: 60%;
    z-index: 2;
    display: none;
  }

  .mobile-slide-3 {
    position: fixed;
    top: 0;
    z-index: 3;
    display: none;
  }



  .mobile-slide-4 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    display: none;

  }

  .mobile-slide-1>span>.mat-form-field {
    width: 100%;
    margin: 8% 10%;
  }
 
  .mobile-slide-2>span>.mat-form-field {
    width: 100%;
    margin: 20% 10%;
  }

  #inputImg {
    width: 50%;
    margin-left: 20%;


  }

  .mobile-slide-3>span>button {
    
    width: 70%;
    margin: 10%;
    transform: translateY(700%);



  }

  .mobile-slide-3>span>.mat-form-field {
    
    width: 60%;
    margin-left: 15%;
    transform: translateY(100%);


  }

  #status {
    width: 60%;
  }

  .label {
    margin: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
  }

  .label::-webkit-input-placeholder {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 3;
    color: rgba(0, 0, 0, 0.6);
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;


  }

  .image>img {
    width: 100%;
  }
  #cover{
    width: 100%;

  }

  #cover>div {
    position: relative;
    width: 100%;
    font-weight: 600;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.9);
    top: 30%;
    text-align: center;
  }

  #cover>button {
    position: relative;
    width: 50%;
    top: 75%;
    left: 25%;

  }
  .con {
    position: fixed;
    top: 90%;
    left: 50%;
    z-index: 10;
    transform: rotate(-90deg)
  }

  .nav {
    position: relative;
    width: 10px;
    height: 10px;
    border: 2px;
    border-color: rgba(0, 0, 0,0.6);
    border-radius: 50%;
    border-style: solid;
    margin-bottom: 10px;
  }
  .Field{
    position: absolute;
    width: 80%;
    height: 30%;
    display: table-row;
    right: 10%;
    transform: translateY(90%);
  }



}
