.container-fluid {
  position: relative;
  top: 10%;
}

.dropDown {
  margin-left: 20px;
}

.navs {
  position: absolute;
  right: 10%;
  margin-top: 10px;
}

.navs>img {
  width: 30px;
  margin-left: 20px;
  margin-bottom: 20px;

}
.left{
    transform: rotate(180deg);
}
a{
  margin-left:100px;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.568);
}
@media all and (max-width: 1024px) {
   
  a{
    margin-left:20px;
  }
}
