.container-fluid {
  position: relative;
    top: 15%;
    overflow-x: hidden;
}

.navs {
  position: relative;
  left: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}



.link {
  position: relative;
  padding-top: 10px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.445);
  font-size: 50px;
  cursor: default;
}


.navs>img {
  width: 30px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.left {
  transform: rotate(180deg);
}

@media all and (min-width: 1024px) {

  .container-fluid {
    position: absolute;
    top: 15%;
    width: 100%;
  }
  .link {
    padding-top: 10px;
    margin-bottom: 40px;
    font-size: 30px;
  }

}
