<div class="card">
    <div class=" father">
        <div class="child"><img src="../../assets/img/login.jpg" width="100px" height="100px"  ></div>
        <div class="child" style="padding-left: 60px;"> <h2 class="card-title">{{personne.first_name}} {{personne.last_name}}</h2></div>
    <div class="child" style="padding-left: 60px;"><button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ok" (click)="popUp()">response </button></div>
    </div>
</div><br>

<div class="modal fade" id="{{idbtn}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">{{personne.first_name}} {{personne.last_name}}</h2>
          <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="popout()"></button>
        </div>
        <div class="modal-body">
          <p>{{personne.description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="response('Refuse')">Refuse</button>
          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="response('Accept')">Accept</button>
        </div>
      </div>
    </div>
  </div>