<div id="div1">
  <form>
    <input class="input" type="text" placeholder="Email" #mail><br>
    <input class="input" type="password" placeholder="Password" #pwd><br>
    <input class="btn btn-outline-info" type="submit" id="submit" value="sign in" (click)="log(mail.value ,pwd.value,$event)"  >
  </form>
  <a href="" id="a" [routerLink]="routerlink" routerLinkActive="router-link-active" style="display: none;"></a>

  <div class="text">don't have an account? <a href="" [routerLink]="['/signup']" routerLinkActive="router-link-active" >sign up now</a></div><br><br>
  <div class="text">_________________ <span>Or</span> _________________</div><br><br><br>
  <div id="social-title" class="text">continue with social media</div>
  <div id="social-container">
    <div class="social"><a href=""><img src="../../../assets/img/facebook.svg" alt=""></a></div>
    <div class="social"><a href=""><img src="../../../assets/img/instagram.svg" alt=""></a></div>
    <div class="social"><a href=""><img src="../../../assets/img/google-plus.svg" alt=""></a></div>
    <div class="social"><a href=""><img src="../../../assets/img/twitter.svg" alt=""></a></div>
  </div> 
</div>
<div id="div2">
  <img src="../../../assets/img/login.jpg" alt="">
</div>
<div id="div3">
    <div id="title">FIND YOUR DREAM JOB</div>
    <div id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fugiat dignissimos atque  </div>
</div>
