  #div1 {
  position: relative;
  top: 25%;
  left: 12%;

}

.input {
  appearance: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(0, 0, 0, 0.6);
  outline: none;
  width: 20%;
  margin-bottom: 80px;
  padding-bottom: 10px;
  font-size: 20px;

}

input::-webkit-input-placeholder {
  padding-left: 15px;
  font-size: 20px;
  line-height: 3;
  color: rgba(0, 0, 0, 0.6);
}

#submit {
  position: relative;
  width: 200px;
  left: 4%;
  font-size: 20px;
  color: #4BBFF1;
}

#submit:hover {
  background-color: #4BBFF1;
  color: white;
}

.text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: #4bbff1;
}

span {
  color: #4bbff1;
}

#social-title {
  margin-left: 50px;
}

.social {
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px;
  border-color: rgba(0, 0, 0, 0.6);
  ;
  border-radius: 50%;
  margin-bottom: 20px;
}

#social-container {
  position: fixed;
  top: 62%;
  left: 19.5%;
  transform: rotate(-90deg);
}

.social img {
  transform: rotate(90deg);

  width: 60px;
  height: 60px;
  margin: 8px;
}

#div2 {
  position: fixed;
  height: 100%;
  top: 0%;
  right: 0%;

}

#div3 {
  position: fixed;
  height: 100%;
  width: 60%;
  top: 0%;
  right: 0%;
  background-color: #4bbff19d;
  z-index: 10;


}

#title {
  margin-top: 30%;
  margin-left: 15%;
  font-size: 4vw;
  color: white;
  font-weight: bold;
}
 
#text {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 30px;
  color: white;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}
img{
    position: fixed;
    width: 60%;
    height:100% ;
    right: 0%;  
}
@media all and (max-width: 1000px) {
  #div1 {
    position: relative;
    top: 20%;
    left: 0;
    z-index: 2; 
  }
  .input {
    margin-left: 12%;
    width: 75%;
  }
  #submit {
    left: 23%;
  } 
  .text{
    position: absolute;
    left: 5%;
  }
  .social {
    width: 60px;
    height: 60px;
    
  }
  
  #social-container {
    position: fixed;
    top: 62%;
    left: 43%;
    transform: rotate(-90deg);
  }
  
  .social img {
    transform: rotate(90deg);
    width: 40px;
    height: 40px;
    margin: 4px;
  }
  #div2 {
    position: fixed;
    height: 100%;
    top: 0%;
    right: 0%;
    display: none;
  
  }
  
  #div3 {
    position: fixed;
    width: 100%;
    z-index: 1; 
    display: none;
  }

  img{
    width: 100%;
  }
  #title {
    margin-top: 60%;
    margin-left: 6%;
    font-size: 30px;
    
  }
   
  #text {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
  }
}